<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>Animal Rescue</title>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<link rel="icon" type="image/png" sizes="16x16" href="user_assets/img/" />
	<meta name="theme-color" content="#ffffff" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/responsive.css" />
</head>

<body class="active-preloader-ovh">
	<div class="preloader">
		<div class="spinner"></div>
	</div>

	<header class="header header-home-one">
		<nav class="navbar navbar-default header-navigation stricky">
			<div class="thm-container clearfix">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed bitmex-icon-menu" data-toggle="collapse"
						data-target=".main-navigation" aria-expanded="false"></button>
					<a class="navbar-brand" href="/">
						<img src="img/Animal-Rescue-Logo.jpeg" class="img-sty" style="height: 85px" alt="Aniaml-Rescue"/>
					</a>
				</div>

				<div class="collapse navbar-collapse main-navigation mainmenu" id="main-nav-bar">
					<ul class="nav navbar-nav navigation-box navbar-right">
						<li><a class="navsub-menu" href="#">Ecosystem</a></li>
						<li><a href="#">Roadmap</a></li>
						<li><a href="/buy-coin">Buy Stray</a></li>
						<li><a href="#">Whitepaper</a></li>
						<li><a href="#">Audit</a></li>
						<li><a href="#"><i class="fa fa-twitter" style="font-size:48px;color:maroon"></i></a></i> </li>
						<li><a href="#"><i class="fa fa-instagram" style="font-size:48px;color:maroon"></i></a></i>
						</li>
						<li><a href="#"><i class="fa fa-telegram" style="font-size:48px;color:maroon"></i></a></i> </li>
						<!--<li><img src="img/meta-icon.png" id="connectButton" type="submit" class="img-fluid icon-img"
								data-toggle="tooltip" data-placement="top" title="Metamask"
							1	style="width:50px; height:50px" /></li>
						 <li><button >Connect to Metamask</button></li> -->
					</ul>
				</div>

			</div>
		</nav>
	</header>

	<div class="header_1">
		<h1 class="Main_heading">Nurturing Animals and Benefiting Society</h1>
		<div>
			<h2 class="sub-heading">Animal Token is a project designed to help homeless animals.</h2>
			<div>
				<p class="sub-para">The main goal of the Animal Token Project is to provide all possible help to
					homeless animals, such
					as:</p>
			</div>
			<div>
				<p><i class="fa fa-plus" style="font-size:20px;color:black"><span class="icons">charitable activities to
							existing
							shelters</i> </p>
				<p><i class="fa fa-plus" style="font-size:20px;color:black"><span class="icons">building shelters around
							the world</span></i> </p>
				<p><i class="fa fa-plus" style="font-size:20px;color:black"><span class="icons">adoption
							assistance</span></i> </p>
			</div>
			<div class="btn">
				<button class="stray"><a href="/buy-coin">Get Stray</a></button>
				<button class="paper">Whitepaper</button>
			</div>
		</div>
	</div>
	<div class="bg-container">
		<div class="flex-container">
			<div class="flex-item-left"> <img src="img/rescue.png" alt="Rescue" class="rescue"/></div>
			<div class="side">
				<h class="heading5">Who we are ------------------</h>
				<div class="bio">
					<h class="heading6">A Secure Platform for ICO and Cryptocurrency Trade</h>
					<p class="para5">Crypten is one of the highly rated secure platform of in hendrerit justo quisque
						quis rhons exeget semper semlamat lobortis velit estibulum ante ipsum primis in faucibus.</p>
				</div>
				<div class="">
					<img src="" alt="mission" />
					<div>
					<h class="our-mission">OUR MISSION</h>
					<p class="flex-left">We've always been on the vestibulum fermentum veli non placerat aecenase in hen quisque quis.</p>
				</div>
				<div class="">
					<img src="" alt="mission" />
					<div>
					<h class="our-mission">OUR VISION</h>
					<p class="flex-left">We've always been on the vestibulum fermentum veli non placerat aecenase in hen quisque quis.</p>
				</div>
					<!--<p class="flex-item-left">We've always een on the vestibulum fermuntum veli non placerat aecenasen in hen quisque quis.</p> -->
				</div>
			</div>
		</div>
	</div>

	<div>
		<h2 class="heading">Benefits Of Buying A Token</h2>

		<div class="row">
			<div class="column">
				<div class="card">
					<h3 class="card-heading">Mission</h3>
					<p class="description">0.3% of each transaction is credited to the charitable wallet.</p>
				</div>
			</div>

			<div class="column">
				<div class="card">
					<h3 class="card-heading">Transparency</h3>
					<p class="description">The smat contract code posted on our github page. Anyone can visit the page
						in and study it.</p>
				</div>
			</div>

			<div class="column">
				<div class="card">
					<h3 class="card-heading">Technology</h3>
					<p class="description">Stray Token released on Binance Smart Chain platform.</p>
				</div>
			</div>

			<div class="column">
				<div class="card">
					<h3 class="card-heading">Reliability</h3>
					<p class="description">The smart contract passed a comprehensive audit confirming its transaparency
						and proper operation.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-container9 mine">
	<div class="mine">
		<h>POOl MINING</h>
		<div class="flex-container2">
			<h>POOL QUICK ACTIONS</h>
			<h>POOL STATISTICS</h>
		</div>
	</div>
	
	<div class="flex-container1">
		<div class="invite">Copy Invite Link
			<div class="send-invite">
				and send it to your friends
			</div>
		</div>
		<div class="send-invite">Mining in : <span class="invite">Canadian stake pool</span> </div>
		<div class="send-invite">Blocks Paid : <span class="invite">28094</span></div>
	</div>
	<div class="flex-container1">
		<div class="invite">See Your Referrals
			<div class="send-invite">
				and monitoer your earnings
			</div>
		</div>
		<div class="send-invite">Pool Fee: <span class="invite">2%</span></div>
		<div class="send-invite">Blocks Pending:<span class="invite">0</span></div>
	</div>
	<div class="flex-container1">
		<div class="send-invite">1Referral Reward: <span class="invite">5% WEBD</span> <br class="invite">from each
			friend you invite</br> </div>
		<div class="send-invite">Miners In Pool: <span class="invite">46</span> </div>
		<div class="send-invite">Your ref. Potential Reward: <span class="invite">WEBD</span></div>
	</div>

</div>
	<div class="bg-containers">
		<h class="papers">Papers</h>
		<div class="flex-container5">

			<div style="color: black;">
				<img src="" alt="black" /> <br>
				<h>Black Paper</h>
				</br>

			</div>
			<div style="color: black;"> <img src="" alt="white" /> <br>
				<h>White Paper</h>
				</br>


			</div>
		</div>

	</div>



	<section class="team-style-one sec-pad page-section" id="our-experts">
		<div class="thm-container">
			<div class="sec-title text-center">
				<h3>Developers</h3>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="single-team-style-one hvr-float-shadow">
						<div class="img-box">
							<img src="img/team-1-1.jpg" alt="Awesome Image" />
						</div>
						<div class="text-box text-center">
							<h3>Kathern Dughi</h3>
							<span>Senior Technical Manager</span>
							<p>
								Praesent dapibus iseleifend augu <br />
								eget sollicitudin velit liqu lese.
							</p>
							<div class="social">
								<a href="#" class="fa fa-twitter"></a>
								<a href="#" class="fa fa-facebook"></a>
								<a href="#" class="fa fa-youtube-play"></a>
								<a href="#" class="fa fa-pinterest"></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="single-team-style-one hvr-float-shadow">
						<div class="img-box">
							<img src="img/team-1-2.jpg" alt="Awesome Image" />
						</div>
						<div class="text-box text-center">
							<h3>Sau Merzlak</h3>
							<span>Director</span>
							<p>
								Praesent dapibus iseleifend augu <br />
								eget sollicitudin velit liqu lese.
							</p>

						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="single-team-style-one hvr-float-shadow">
						<div class="img-box">
							<img src="img/team-1-3.jpg" alt="Awesome Image" />
						</div>
						<div class="text-box text-center">
							<h3>Corie Malkasian</h3>
							<span>Blockchain Developer</span>
							<p>
								Praesent dapibus iseleifend augu <br />
								eget sollicitudin velit liqu lese.
							</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>






	<div class="row8 bg-container5">
		<div class="column8">
			<h class="buy">Buy Tokens</h>
			<div class="shiba">
				<p>From the tips of noses to end of thier tails, Shiba Inu are intelligent, brave, and independent, with an equal propensity for loyalty and mischief.Sadly, the characterstics which makes them extraordinary are the same ones which make them a callenging pet.Inexperienced owners can find themselves unprepared for a dog that's know for its bold (i.e.stubborn) personality.</p>		  
				<p>Luckily, we are helping these dogs in real life! we use amazon smile to collect and donate apercentage of your amazon purchases to the Shiba Inu Rescue Association.Joining is easy and free! Just use smile.amazon.com when placing orders select Shiba Inu Rescue Association (a 501(c)3, preferred non-profit organisation). You're seconds away from helping shibs in need.Start funding shelters today.</p>

			</div>
		</div>
		<div class="">
		  <img src="img_forest.jpg" alt="Forest" style="width:50%">
		</div>
	  </div>




	  <div class="row8 bg-container6">
		<div class="column8">
			<h class="Donations">Donations</h>
			<div class="Details">
				<h1>Wallet Address :</h1>
				<h1>Contract Address :</h1>
			</div>
		</div>
		<div class="">
		  <img src="img_forest.jpg" alt="Forest" style="width:50%">
		</div>
	  </div>
	





	  <div class="bg-container8">

			
			<a href="#"><i class="fa fa-twitter edit" style="font-size:48px;color:maroon"></i></a></i>
			<a href="#"><i class="fa fa-instagram edit" style="font-size:48px;color:maroon"></i></a></i>
			<a href="#"><i class="fa fa-telegram edit" style="font-size:48px;color:maroon"></i></a></i>


	  </div>




	<div class="scroll-to-top scroll-to-target" data-target="html">
		<i class="fa fa-angle-up"></i>
	</div>

	<script src="js/jquery.js"></script>

	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-select.min.js"></script>
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/isotope.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/waypoints.min.js"></script>
	<script src="js/jquery.counterup.min.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/particles.min.js"></script>
	<script src="js/particles-config.js"></script>
	<script src="js/Chart.min.js"></script>
	<script src="js/chart-config.js"></script>
	<script src="js/custom.js"></script>

	<script>
		$(document).ready(function () {
			$("ul.navigation-box li a").click(function () {
				$("ul.navigation-box li a").removeClass("active");
				$(this).addClass("active");
			});
		});
	</script>
	<script src="./metamask-onboarding.bundle.js"></script>

	<script type="text/javascript">
		function myFunction() {
			var copyText = document.getElementById("address");
			if ($('#address').val() != "") {
				copyText.select();
				document.execCommand("copy");
				alert("Wallet Address is copied.");
			}
		}
		const currentUrl = new URL(window.location.href)
		const forwarderOrigin = currentUrl.hostname === 'localhost'
			? 'http://localhost:9010'
			: undefined;
		const initialize = () => {
			//Basic Actions Section
			const onboardButton = document.getElementById('connectButton');
			//Created check function to see if the MetaMask extension is installed
			const isMetaMaskInstalled = () => {
				//Have to check the ethereum binding on the window object to see if it's installed
				const { ethereum } = window;
				return Boolean(ethereum && ethereum.isMetaMask);
			};
			//We create a new MetaMask onboarding object to use in our app
			// const onboarding = new MetaMaskOnboarding({ forwarderOrigin });
			const onClickConnect = async () => {
				try {
					// Will open the MetaMask UI
					// You should disable this button while the request is pending!
					await ethereum.request({ method: 'eth_requestAccounts' });
				} catch (error) {
					console.error(error);
				}
			};
			//This will start the onboarding proccess
			const onClickInstall = () => {
				onboardButton.innerText = 'Onboarding in progress';
				onboardButton.disabled = true;
				//On this object we have startOnboarding which will start the onboarding process for our end user
				onboarding.startOnboarding();
			};
			//------Inserted Code------\\
			const MetaMaskClientCheck = () => {
				//Now we check to see if Metmask is installed
				if (!isMetaMaskInstalled()) {
					//If it isn't installed we ask the user to click to install it
					onboardButton.innerText = 'Click here to install MetaMask!';
					//When the button is clicked we call th is function
					// onboardButton.onclick = onClickInstall;
					//The button is now disabled
					onboardButton.disabled = false;
				} else {
					//If MetaMask is installed we ask the user to connect to their wallet
					onboardButton.innerText = 'Connect to Metamask';
					//When the button is clicked we call this function to connect the users MetaMask Wallet
					onboardButton.onclick = onClickConnect;
					//The button is now disabled
					onboardButton.disabled = false;
				}
			};
			MetaMaskClientCheck();
			//------/Inserted Code------\\
		};
		window.addEventListener('DOMContentLoaded', initialize);
	</script>

</body>

</html>